@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 70px;
    /* position: fixed; */
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.06);
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: +2000;
    top: 0;
    left: 0;
    background-color: #2B273E;
}

.preloader .container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1450px;
    max-height: 700px;
}

.spinner {
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 30px;
    width: 30px;
    margin-left: -15px;
    margin-top: -40px;

    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    position: relative;
}

.spinner span {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: block;
    position: absolute;
    opacity: 0.7;
}

.spinner .ball-1 {
    z-index: 4;
    background-color: #17A2B7;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
    animation: animateSway 2s infinite ease-in-out, animateScale 2s infinite ease-in-out;
}

.spinner .ball-2 {
    z-index: 3;
    background-color: #DB4437;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
    animation: animateSway 2s infinite ease-in-out 500ms, animateScale 2s infinite ease-in-out 500ms;
}

.spinner .ball-3 {
    z-index: 2;
    background-color: #F4B400;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
    animation: animateSway 2s infinite ease-in-out 1s, animateScale 2s infinite ease-in-out 1s;
}

.spinner .ball-4 {
    z-index: 1;
    background-color: #0F9D58;
    left: -20px;
    -webkit-transform: translate(50%, 50%) scale(0.5);
    -webkit-animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
    animation: animateSway 2s infinite ease-in-out 1.5s, animateScale 2s infinite ease-in-out 1.5s;
}

@-webkit-keyframes animateSway {
    0% {
        left: -20px
    }

    50% {
        left: 20px
    }

    100% {
        left: -20px
    }
}

@keyframes animateSway {
    0% {
        left: -20px
    }

    50% {
        left: 20px
    }

    100% {
        left: -20px
    }
}

@-webkit-keyframes animateScale {
    0% {
        -webkit-transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }

    25% {
        -webkit-transform: translate(50%, 50%) scale(1);
        z-index: +1
    }

    50% {
        -webkit-transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }

    75% {
        -webkit-transform: translate(50%, 50%) scale(0.25);
        z-index: -2
    }

    100% {
        -webkit-transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
}

@keyframes animateScale {
    0% {
        transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }

    25% {
        transform: translate(50%, 50%) scale(1);
        z-index: +1
    }

    50% {
        transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }

    75% {
        transform: translate(50%, 50%) scale(0.25);
        z-index: -2
    }

    100% {
        transform: translate(50%, 50%) scale(0.5);
        z-index: -1
    }
}

.lefter {
    display: inline-flex;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    position: absolute;
}

.logo {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    margin-top: -15px;
}


.search {
    height: 40px;
    width: 350px;
    background-color: #f4f6f6;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 5px;
}

.inputcari {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: -10px;
    border: none;
    height: 40px;
    width: 80%;
    background-color: transparent;
    font-size: 16px;
    color: #bfbfbf;
}

.tombolCari {
    margin-top: 16px;
    margin-left: -30px;
    color: #bfbfbf;
}

.kategori {
    position: absolute;
    margin-top: 15px;
    margin-left: 170px;
}

.menu {
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    display: inline;
    font-family: "Roboto Condensed", sans-serif;
}

.menu * {
    float: right;
}

ul {
    list-style-type: none;
    padding: auto;
    overflow: hidden;
    margin-right: 200px;
    margin-top: auto;
}

li {
    display: inline-block;
    list-style: outside none none;
    margin: 10px;
    padding: 0;
    text-align: center;
}

li a {
    margin-top: 15px;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}


li a:hover {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

li a:before {
    bottom: 0;
    display: block;
    height: 3px;
    width: 0%;
    content: "";
    background-color: #000000;
    margin-bottom: 20px;
}

li a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    color: #ffffff;
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}

li a:before,
li a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

li a:hover:before,
li .current a:before {
    opacity: 1;
    width: 100%;
}

li a:hover:after,
li .current a:after {
    max-width: 100%;
}

li#cart {}

.login {
    background-color: #064ACB;
    margin-top: 12px;
    margin-left: 30px;
    border: 1px solid #064ACB;
    color: #ffffff;
    padding: 15px;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
}

.login:hover {
    background-color: #FFFFFF;
    color: #064ACB;
    cursor: pointer;
}

.register {
    background-color: transparent;
    border: 1px solid #000000;
    margin-top: 12px;
    margin-left: 5px;
    color: #000000;
    padding: 15px;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
}

.register:hover {
    color: #FFFFFF;
    background-color: #000000;
    cursor: pointer;
}

.sosmed {
    text-align: center;
    margin-top: -22px;
}

#card {
    text-align: center;
}

.judul {
    text-align: center;
    margin-bottom: 60px;
}

.judul h2 {
    margin: 10px auto;
    padding-top: 40px;
}

.facebook {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    width: 300px;
    height: auto;
    margin-left: 29%;
    background-color: #064ACB;
    color: #FFFFFF;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5px;
}

.facebook:hover {
    background-color: #0143bc;
    cursor: pointer;
}

.google {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    width: 300px;
    height: auto;
    margin-left: 29%;
    background-color: #fc5858;
    color: #FFFFFF;
    border-radius: 3px;
    text-align: center;
}

.google:hover {
    background-color: #ea3838;
    cursor: pointer;
}

.form {
    align-content: center;
    margin: 50px auto auto 22px;
}

.formLogin {
    /* left: 52%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); */
    margin: 0 auto;
}

.formInput {
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #F4F6F6;
    color: #a0a0a0;
    padding: 13px;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: 6px auto;
    font-size: 16px;
    letter-spacing: 1px;
}

.btnLogin {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 3px;
    padding: 8px;
    width: 80px;
    height: 40px;
    margin: 6px auto auto -243px;
    background-color: #0143bc;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.btnLogin:hover {
    background-color: #FFFFFF;
    color: #0143bc;
    border: 1px solid #0143bc;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    li {
        display: none;
    }

    .search {
        height: 40px;
        width: 350px;
        background-color: #f4f6f6;
        border-radius: 5px;
        margin-left: 150px;
        margin-top: 5px;
        positi
    }

    .inputcari {
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: -10px;
        border: none;
        height: 40px;
        width: 80%;
        background-color: transparent;
        font-size: 16px;
        color: #bfbfbf;
    }
}