body, #particle-js {
    width: 100vw;
    height: 100vh;
    background: #89669b;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

/* #particle-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #7f26ac;
    /* this was my color */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; */
} */